@import 'styles';

@import 'app/about-view';
@import 'app/app-view';
@import 'app/feedback-view';
@import 'app/navbar-view';

@import 'queue/queue-view';

@import 'queues/queues';

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: $background-color;

    font-size: $font-size;
}

img {
    -webkit-user-drag: none;
}

.mask {
    position: absolute;
    z-index: 1031; /* Just higher than bootstrap navbar. */

    display: none;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    -webkit-transition: opacity 400ms ease-out;
}

.clear {
    clear: both;
}

input:focus {
    border-color: $input-border-color;
    -webkit-box-shadow: $input-shadow-color;
    box-shadow: $input-shadow-color;

    outline: 0;
}

.cardholder {
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0); // Bizarrely, if this isn't applied the click handlers don't work properly.
    -webkit-user-select: none;

    .card {
        position: relative;

        -webkit-transform-style: preserve-3d;
        -webkit-transition: -webkit-transform 0.5s, height 0.25s;

        .back, .front {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;

            -webkit-backface-visibility: hidden;
            -webkit-transform: translate3d(0,0,0); // Fix impossible bug where backface-visibility leaves visual artefacts from other side of card.
        }

        .front {
            z-index: 2;
        }

        .back {
            -webkit-transform: rotateY(-180deg);
        }

        &.flipped {
            -webkit-transform: rotateY(-180deg);
        }
    }
}
