
.queue-list-view {
    background-color: #F5F5F5;

    .myq-cover {
        padding: 80px 0;
        text-align: center;
        font-size: 52px;
        background-image: url('../images/myq-cover.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Open Sans', sans-serif;
        color: rgba(0, 0, 0, 0.4);
    }

    .pick-a-queue {
        margin-top: -40px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
    }

    .down-arrow {
        width: 0;
        margin-left: 30px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 20px solid #959595;
    }

    ul#queues {
        margin-top: -10px;
        padding: 0;

        li {
            padding: 10px;
            list-style-type: none;
            border-bottom: 2px solid #DCDCDC;
            color: #B1B1B1;

            a {
                color: #32A8AE;
                text-decoration: none;
                font-size: 24px;
            }

            &.closed {
                a {
                    color: #B1B1B1;
                }
            }

            .status {
                margin-top: 15px;
            }
        }

        li:last-child {
            border-bottom: none;
        }
    }
}