.queue-view {
    color: $font-color;

    .header {
        position: relative;

        .myq-cover {
            .content {
                background-image: url('images/myq-cover.jpg');
                background-position: center;
                @include background-size(cover);
                color: $header-font-color;
                padding: 20px 0;
                padding-top: 200px;

                .title-holder {
                    background-color: rgba(0,0,0, 0.2);
                    border-radius: 4px;
                    padding: 10px;
                }

                .title {
                    font-size: $title-font-size;
                }

                hr {
                    margin: 0;

                    border-color: rgba($header-font-color, 0.8);
                }

                .status {
                    padding-top: 10px;

                    span {
                        float: right;

                        font-size: $title-font-size;

                        cursor: pointer;

                        @include transition-duration(500ms);

                        &.rotate {
                            @include transform(rotate(360deg));
                        }

                        &.glyphicon {
                            top: 2px;
                        }

                        &:after { /* Increase clickable area. */
                            position: absolute;
                            right: -10px;
                            top: -10px;

                            width: 60px;
                            height: 40px;

                            content: '';
                        }
                    }
                }
            }
        }
    }

    .details {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 3;

        padding: 7px;

        display: none;
        background-color: $background-color;

        .details-holder {
            padding: 20px;

            @include border-radius(3px);

            background-color: $card-color;
            @include box-shadow($card-shadow-color);

            .description {
                margin-bottom: 15px;
            }

            a {
                color: $button-color;
            }

            .title {
                padding-bottom: 5px;

                font-size: $title-font-size;
            }

            .address {
                margin-bottom: 20px;
            }

            .googleMap img {
                max-width: 640px;
                width: 100%;
            }

            .googleMap .overlay {
                position: absolute;
                top: 50%;
                left: 50%;

                margin: auto auto;
                padding: 5px;

                @include border-radius(3px);

                background-color: $card-color;
                @include box-shadow($card-raised-shadow-color);
                color: $font-color;

                text-align: left;
                line-height: 1.5;

                opacity: 0;
            }

            .hours {
                margin-top: 20px;

                td.time {
                    padding-left: 10px;
                }
            }
        }
    }

    .inner-content {
        position: relative;

        .wait-time {
            display: none;
            padding: 10px;
            min-width: 310px;

            background-color: $card-color;

            &.time-warning {
                color: $time-warning;
            }

            img {
                float: left;

                margin: 20px 20px 20px 0px;

                vertical-align: middle;
            }

            .title {
                margin-top: 20px;

                font-size: $title-font-size;
            }

            .time-hour, .time-minute, .time-second {
                font-size: 45px;
            }

            .time-text {
                font-size: $title-font-size;
            }
        }

        .card {
            margin: 7px 7px 0 7px;

            .content {
                @include border-radius(3px);

                background-color: $card-color;
                @include box-shadow($card-shadow-color);
            }
        }

        .flip-button {
            position: absolute;
            bottom: 10px;
            right: 10px;

            height: 14px;
            width: 23px;

            background-image: url('/images/back.png');
            @include background-size(cover);

            opacity: 0.54;

            cursor: pointer;

            &::before { /* Increase clickable area. */
                position: absolute;
                bottom: -5px;
                right: -5px;

                height: 50px;
                width: 50px;

                content: '';
            }
        }

        .wait-time, .service-number, .ticket-number {
            .loader {
                margin: 0;
                width: 0%;

                border-top: solid $button-color 3px;

                text-align: left;
            }

            color: $font-color;
        }

        .wait-time, .service-number {
            display: none;
        }

        .ticket-number, .service-number {
            max-width: 500px;
            padding: 0;
        }

        .ticket-number-front, .service-number-front {
            /* Centre element */
            position: relative;
            top: 50%;
            @include transform(translateY(-50%));

            padding: 10px;

            .icon {
                float: left;

                margin: 35px 20px 20px 0px;

                vertical-align: middle;
            }

            .title {
                margin-top: 10px;

                font-size: $title-font-size;
            }

            .number {
                margin-left: 70px;

                font-size: 45px;
            }
        }

        .ticket-number {
            .front, .back {
                margin-bottom: 7px;
            }
        }

        .ticket-number-back, .service-number-back {
            .ticket-form, .service-form {
                padding: 20px;

                .header {
                    margin-bottom: 10px;

                    font-size: $title-font-size;
                }

                input {
                    display: block;
                    margin: auto;
                    padding: 15px;
                    max-width: 100%;
                    width: 250px;

                    border: none;
                    @include border-radius(3px);

                    background-color: $background-color;
                }

                .submit {
                    padding: 10px;
                    margin: 20px auto 5px auto;
                    width: 250px;
                    max-width: 100%;

                    @include border-radius(3px);

                    background-color: $button-color;
                    color: $button-font-color;

                    text-align: center;

                    cursor: pointer;
                }
            }

            .flip-button {
                display: none;

                cursor: pointer;
            }
        }

        .notification {
            position: relative;
            z-index: 1;

            display: none;
            margin-top: -20px;
            margin-bottom: -20px;

            opacity: 0.95;

            .dismiss {
                position: absolute;
                top: 25px;
                right: 10px;

                color: $button-font-color;

                font-weight: bold;
            }

            .text {
                padding: 20px;

                background-color: $notification-color;
                color: $button-font-color;

                font-size: $title-font-size;
            }

            .up-arrow {
                margin: auto;

                width: 0;

                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
            }

            .up-arrow {
                border-bottom: 20px solid $notification-color;
            }

            &.estimated {
                position: absolute;
            }
        }
    }

    .form-mask {
        .input-area {
            opacity: 0.5;
        }
    }

    .form-mask:before {
        position: absolute;
        z-index: 2;

        height: 100%;
        width: 100%;

        content: '';
    }
}
