.about-app {
    position: absolute;
    top: 50px;
    z-index: 1032; /* Just higher than modal mask. */

    display: none;
    padding: 10px;

    background-color: $card-color;
    @include box-shadow($card-raised-shadow-color);
    color: $font-color;

    a {
        color: $button-color;
    }

    .close {
        margin: 3px 10px 0 0;

        &.close:after { /* Increase clickable area. */
            position: absolute;
            right: 0;
            top: 0;

            padding: 30px;

            content: '';
        }
    }

    .title {
        color: $font-color;

        font-size: $title-font-size;
        font-weight: bold;
    }

    .cfi, .disclaimer {
        margin-top: 10px;
        margin-bottom: 0;
    }

}
