.app-view {
    >.container {
        margin-top: 0;
        padding: 0;
        min-width: 280px;
    }
}

.alert {
    padding-right: 25px;

    /* Increase tap area */
    .close:before {
        position: absolute;
        right: -10px;
        top: 0;

        height: 50px;
        width: 50px;

        content: '';
    }
}
