.app-view {
    >.container {
        margin-top: 0;
        padding: 0;
        min-width: 280px;
    }
}

.notifications {
    &.top-left {
        top: 0;
        left: 50%;
        z-index: 1031;

        .alert {
            left: -50%;
        }
    }

    >div {
        margin-left: 5px;
        margin-right: 5px;
    }

    .close.pull-right {
        margin-left: 5px;
    }

    /* Increase tap area */
    .close:before {
        position: absolute;
        right: -10px;
        top: 0;

        height: 50px;
        width: 50px;

        content: '';
    }
}
