.feedback {
    position: absolute;
    top: 50px;
    z-index: 1032; /* Just higher than modal mask. */

    display: none;

    background-color: $card-color;
    @include box-shadow($card-raised-shadow-color);

    .close {
        margin-right: -8px;
        margin-top: 2px;

        &.close:after { /* Increase clickable area. */
            position: absolute;
            right: 0;
            top: 0;

            padding: 30px;

            content: '';
        }
    }

    .form-inline {
        padding: 10px;

        @include border-radius(3px);
    }

    .form-group {
        display: block;
    }

    textarea {
        margin-bottom: 5px;
        min-height: 94px;
        width: 100% !important;

        @include transition(height 0.2s);
    }

    .submit {
        margin: 20px auto 5px auto;
        padding: 10px;
        width: 250px;
        max-width: 100%;

        @include border-radius(3px);

        background-color: $button-color;
        color: $button-font-color;

        text-align: center;

        cursor: pointer;
    }

    .loader {
        margin: 0;
        width: 0%;

        border-top: solid $button-color 3px;

        text-align: left;
    }

    &.invalid {
        @include animation(shake .5s linear);

        textarea {
            border-color: $error-color;
        }

        .rating-input .glyphicon {
            color: $error-color;
        }
    }

    .rating-input {
        color: $muted-font-color;

        font-size: 34px;

        .glyphicon-star {
            color: rgba(0,0,0,0);

            @include background(linear-gradient($rating-star-top-color, $rating-star-bottom-color));
            @include background-clip(text);
        }
    }

    @include keyframes(shake) {
        8%, 41% {
            @include transform(translateX(-10px));
        }
        25%, 58% {
            @include transform(translateX(10px));
        }
        75% {
            @include transform(translateX(-5px));
        }
        92% {
            @include transform(translateX(5px));
        }
        0%, 100% {
            @include transform(translateX(0));
        }
    }
}