<script id="responsive-picture-tpl" type="x-mustache-tpl">
	<span data-picture data-alt="Description">
	    <span data-src="{{id}}_sm.jpg"></span>
	    <span data-src="{{id}}_sm@x2.jpg" data-media="(min-device-pixel-ratio: 2.0)"></span>
	    <span data-src="{{id}}_sm@x2.jpg" data-media="(-webkit-min-device-pixel-ratio: 2.0)"></span>

	    <span data-src="{{id}}_md.jpg"    data-media="(min-width: 400px)"></span>
	    <span data-src="{{id}}_md@x2.jpg" data-media="(min-width: 400px) and (min-device-pixel-ratio: 2.0)"></span>
	    <span data-src="{{id}}_md@x2.jpg" data-media="(min-width: 400px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>

	    <span data-src="{{id}}_lg.jpg"    data-media="(min-width: 800px)"></span>
	    <span data-src="{{id}}_lg@x2.jpg" data-media="(min-width: 800px) and (min-device-pixel-ratio: 2.0)"></span>
	    <span data-src="{{id}}_lg@x2.jpg" data-media="(min-width: 800px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>

	    <span data-src="{{id}}_xl.jpg"    data-media="(min-width: 1000px)"></span>
	    <span data-src="{{id}}_xl@x2.jpg" data-media="(min-width: 1000px) and (min-device-pixel-ratio: 2.0)"></span>
	    <span data-src="{{id}}_xl@x2.jpg" data-media="(min-width: 1000px) and (-webkit-min-device-pixel-ratio: 2.0)"></span>

        <!--[if (lt IE 9) & (!IEMobile)]>
            <span data-src="{{id}}_md.jpg"></span>
        <![endif]-->

	    <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
	    <noscript>
	        <img src="{{id}}_sm.jpg" alt="Description">
	    </noscript>
	</span>
</script>