.queue-list-view {
    background-color: $list-color;

    .myq-cover {
        padding: 80px 0;

        background-image: url('../images/myq-cover.jpg');
        background-position: center;
        background-repeat: no-repeat;
        @include background-size(cover);

        color: $font-color;

        font-family: 'Open Sans', sans-serif;
        font-size: 56px;
        text-align: center;
    }

    .pick-a-queue {
        margin-top: -40px;
        padding: 10px;

        background-color: $picker-color;
        color: $picker-font-color;
    }

    .down-arrow {
        margin-left: 30px;
        width: 0;

        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 20px solid $picker-arrow-color;
    }

    ul#queues {
        margin-top: -10px;
        padding: 0;

        li {
            padding: 10px;

            border-bottom: 1px solid $list-separator-color;

            color: $muted-font-color;

            list-style-type: none;

            a {
                color: $button-color;

                font-size: $title-font-size;
                text-decoration: none;
            }

            &.closed {
                a {
                    color: $muted-font-color;
                }
            }

            .status {
                margin-top: 15px;
            }
        }

        li:last-child {
            border-bottom: none;
        }
    }
}