.navbar {
    border: none;
    background-image: none;
    background-color: rgba(255, 255, 255, 0);

    .navbar-header {
        background-color: transparent;

        .navbar-brand {
            &.back-button {
                padding: 17px 0 15px 0;
                cursor: pointer;
                transform: rotate(180deg);
                color: rgb(50, 170, 174);
                text-shadow: none;
                font-size: 14px;
                margin-left: 10px;
                z-index: 1;
            }

            &.back-button:after { /* Increase clickable area. */
                content: '';
                padding: 25px;
                position: absolute;
                right: -10px;
                bottom: 0;
            }

            &.title {
                padding-left: 10px;
                color: grey;
                opacity: 0;
            }
        }

        .navbar-toggle {
            border-color: transparent;
            transition-duration: 0.25s;
            transform: rotate(90deg);

            &:focus, &:hover {
                background-color: transparent;
            }

            &.collapsed {
                transform: rotate(0deg);
            }

            .icon-bar {
                background-color: rgb(50, 170, 174);
            }
        }
    }

    .navbar-collapse {
        background-color: white;
    }
}
