.navbar {
    border: none;
    background-image: none;

    background-color: rgba($navbar-color, 0);

    .navbar-header {
        background-color: transparent;

        .navbar-brand {
            &.back-button {
                z-index: 1;

                margin-left: 10px;
                padding: 17px 0 15px 0;

                color: rgb(50, 170, 174);

                text-shadow: none;

                cursor: pointer;

                -webkit-transform: rotate(180deg);
            }

            &.back-button:after { /* Increase clickable area. */
                position: absolute;
                bottom: 0;
                right: -10px;

                padding: 25px;

                content: '';
            }

            &.title {
                padding-left: 10px;

                color: $font-color;

                opacity: 0;
            }
        }

        .navbar-toggle {
            border-color: transparent;

            -webkit-transform: rotate(90deg);
            -webkit-transition-duration: 250ms;

            &:focus, &:hover {
                background-color: transparent;
            }

            &.collapsed {
                transform: rotate(0deg);
            }

            .icon-bar {
                background-color: $button-color;
            }
        }
    }

    .navbar-collapse {
        background-color: $navbar-color;
    }
}
